@import 'layout';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');

@font-face {
    font-family: "GutenbergA";
    src: url('../sass/fonts/font.woff2') format('woff2'), url('../sass/fonts/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



$black: #1D211D;
$white: #FBFBFB;
$darkBlue: #1C1D82;
$midBlue: #2427E6;
$lightBlue: #8D91FF;
$offWhite: #F1F7FF;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


body {
    background-color: $white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
   

}

h1 {
    font-family: "GutenbergA";
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Poppins', sans-serif;
    color: #1D211D;
    letter-spacing: 0.5px;
}

p {
    font-size: 14px;
}
.gutenberg {
    font-family: "GutenbergA";
}


@mixin prevent-select {

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

.hidden {
    visibility: hidden;
}

.loading-screen{
    @include flex-column;
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    @include center-items;

    img{
        height: 40vh;
    }
    h6{
        
        position: relative;
        transition: all 5s ease;
        top: -5vh;
        font-size: 20px;
        &:hover{
            border-bottom: 1px solid black;
    transition: all 0.5s ease;
    cursor: pointer;
        }
    }
}
a, a:link, a:visited, a:hover, a:active{
    color: $black;
    text-decoration: none;
    &:hover{
        border-bottom: 1px solid black;
transition: all 1s ease;
cursor: pointer;
    }
}


.enter-text{
    opacity: 0;
}

@keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes fadeOut {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}


// SIDEBAR STYLING

.sidebar {
    display: flex;
    @include flex-column;
    height: 80vh;
  
    overflow: scroll;
}

.hamburger-menu {
    margin-top: 10px;
    font-size: 30px;
    height: 10%;
    width: 40%;
    padding-left: 3vw;
    @include center-items;
    justify-content: space-around;

    img {
        height: 12vh;
        padding-left: 3vw;
        @include prevent-select();
    }

    cursor: pointer;
}

.links-container {
    position: relative;
    @include flex-column;

    padding-top: 70px;
    margin-left: 20%;

    h6::before {
        content: "+ ";
    }

    h5::before {
        content: "+ ";
    }


}

.top-link {
    margin-bottom: 0.5rem;
    @include prevent-select();
    cursor: pointer;
}

.link {

    background-color: $white;
    border: none;
    @include prevent-select();

}

.category-link {


    background-color: $white;
    border: none;
    @include prevent-select();

    h5 {
        font-size: 16px;
    }
}

.artist-link{
    ul li::before {
        content: "- ";
    }
}

.artist-link {

    cursor: pointer;

    background-color: $white;
    border: none;
    @include prevent-select();

  

        ul li::before {
            content: "- ";
        }
    

}

.artist-links{
    @include prevent-select();

    li {
        list-style: none;
        padding-bottom: 10px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        ;
    }


    ul li::before {
        content: "- ";
    }

    .accordion-header {
        margin-bottom: none;
        padding-left: 5%;
    }

}

.inner-links {

    @include prevent-select();

    li {
        list-style: none;
        padding-bottom: 10px;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        ;
    }


    // ul li::before {
    //     content: "+ ";
    // }

    .accordion-header {
        margin-bottom: none;
        padding-left: 5%;
    }
}


.accordion {
    // max-width: 50%;
    --bs-accordion-bg: $white;
    --bs-accordion-border-color: none;
}

// ---------------- SIDEBAR STYLING ENDS ------------



.content-container {
   
    height: 100vh;
  
}


// ------------ LOGO STYLING ---------------
.logo-container-desktop {


    font-family: "GutenbergA";
    position: fixed;
    // border: 2px solid black;
    height: 30vh;
    width: 100vw;
    top: 83vh;



}

.marquee {
    color: #1D211D;

    font-size: 120px;
    // width: 100vw;

    overflow: hidden;
    position: relative;
    // border: 2px solid black;
    height: 100%;

    img {
        position: relative;
        height: 120px;
    }
}

.marquee div {
    position: absolute;
    // width: 100%;
    left: 100%;

    display: flex;
    // justify-content: space-around;
}

.marquee .logo1 {
    animation: marquee 10s linear infinite
}

.marquee .logo2 {
    animation: marquee 10s linear 1s infinite
}

.marquee .logo3 {
    animation: marquee 10s linear 2s infinite
}

.marquee .logo4 {
    animation: marquee 10s linear 3s infinite
}

.marquee .logo5 {
    animation: marquee 10s linear 4s infinite
}

.marquee .logo6 {
    animation: marquee 10s linear 5s infinite
}

.marquee .logo7 {
    animation: marquee 10s linear 6s infinite
}

.marquee .logo8 {
    animation: marquee 10s linear 7s infinite
}

.marquee .logo9 {
    animation: marquee 10s linear 8s infinite
}

.marquee .logo10 {
    animation: marquee 10s linear 9s infinite
}


// ------------ LOGO STYLING ENDS ---------------

// ------------ OFF CANVAS STYLING ---------------
.off-canvas-left {
    z-index: 10;
    @include flex-column;

    background-color: $white;
    position: fixed;
    height: 100vh;
    transition: all 0.5s ease;
    --start-pos: -30vw;

    .hamburger-menu {
        position: relative;
       
        align-items: center;
        width: 100%;
        padding-left: none;
        padding: 5%;

        img {
            padding-left: 0;
            height: 20vh
        }

        .fa-solid{
            position: relative;
            left: 10px;
        }

        
    }

}

.offcanvas-content-container{
    overflow-y: scroll;
    margin-bottom: 100px;
}

#offCanvasContentContainer {
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 100px;
}

.logo-offcanvas {

    text-align: center;
    position: absolute;
    bottom: 10px;
    font-family: "GutenbergA";
    font-size: 30px;
    justify-content: center;
    width: 100%;

}

.off-canvas-right {
    z-index: 10;
    @include flex-column;
    position: fixed;
    width: 100vw;
    background-color: $white;
    height: 100vh;
    transition: all 0.5s ease;
    left: 130vw;

    .hamburger-menu {
        position: relative;
        left: 0;
        justify-content: space-between;
        width: 100%;
        padding-left: none;
        padding: 5%;

        img {
            padding-left: 0;
        }
    }

    .logo-offcanvas {
        font-size: 70px;
    }

    .links-container {
        h6 {
            font-size: 24px;
        }
    }

}




.background-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(36, 39, 230, 0.25);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@keyframes blurIn {
    0% {
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        background: rgba(36, 39, 230, 0);

    }

    100% {
        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
        background: rgba(36, 39, 230, 0.25);

    }

}

@keyframes blurOut {
    0% {

        backdrop-filter: blur(6.6px);
        -webkit-backdrop-filter: blur(6.6px);
        background: rgba(36, 39, 230, 0.25);

    }

    100% {
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        background: rgba(36, 39, 230, 0);

    }

}

// ------------ OFF CANVAS STYLING ENDS ---------------



// ------------ REUSED ELEMENTS -----------------

.shopall-listing {
    position: relative;
 
    @include flex-column;
    flex-wrap: wrap;
}

.shopall-listing-image {
    display: flex;
    

    img {
    
        filter: contrast(150%) saturate(0%);

    }

    .image-overlay-listing {
        z-index: 5;
        position: absolute;
        background: rgba(36, 39, 230, 0.25);
     
        transition: all 0.5s ease;

        &:hover{
            background: rgba(36, 39, 230, 0); 
            transition: all 0.5s ease;
        }
    
    }

    &:hover{
        img {
            filter: saturate(100%);
            transition: all 0.5s ease;
        }
    }
}

.subcategory{
    cursor: pointer;
    z-index: 5;
}

.category{
    cursor: pointer;
    z-index: 5;
}



.listing-image {
    display: flex;

    .image-overlay {
        z-index: 5;
        position: absolute;
        background: rgba(36, 39, 230, 0.25);
        transition: all 0.5s ease;
    }

    img {
       
        filter: contrast(150%) saturate(0%);

    }


} 




.listing-container {
    display: flex;
    @include flex-row; 
    flex-wrap: wrap;
    text-align: right;
   
    
}

.listing {
    position: relative;
    width: 350px;
    @include flex-column;
    flex-wrap: wrap;
}

.listing-heading {
    position: relative;
    width: 350px;
    @include flex-column; 
    flex-wrap: wrap;
}

.submit-button {
    // background: #8D91FF;
        background: rgba(141, 145, 255, 0.44);
    border-radius: 10px;
    width: 150px;
    height: 45px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: $white;
    letter-spacing: 0.5px;
    margin: 10px 0px 10px 10px;
    transition: all 0.3s ease;
    font-weight: 500;


}

.submit-button:hover {




backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);


    background: $darkBlue;
    // color: $darkBlue;
    // border: 2px solid $lightBlue;
    transition: all 0.3s ease;

}

textarea {
    font-family: 'Poppins', sans-serif;
    color: $darkBlue;
    border: none;
    background-color: $offWhite;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    resize: none;

    :focus,
    ::selection,
    :focus-visible {
        outline: none;
        border: none;
    }

}

input {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: $darkBlue;
    border: none;
    background-color: $offWhite;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    height: 50px;


}

// ------- Form styling for artist and collector options ---------

.form-options {
    padding: 0 0 1vh 7vw;
    color: $midBlue;
}

.form-buttons {
    background: rgb(36, 39, 230, .1);
    border-radius: 5px;
    width: 70%;
    height: 45px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: $midBlue;
    letter-spacing: 0.5px;
    margin: 10px 0px 10px 10px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.form-buttons:hover,
.form-buttons:focus-visible {
    // background: $white;
    border: 3px solid $lightBlue;
    transition: all 0.3s ease;
    outline: none;
}

.center-dropdown {
    text-align: center; 
    text-align-last: center;
}

::placeholder {
    color: $midBlue;
}

.container-cb {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 10vh;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $midBlue;
}
// *** Custom checkbox for confirm delete of listing  

/* Hide the browser's default checkbox */
.container-cb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 3vw;
    height: 35px;
    width: 35px;
    border-radius: 3px;
    background-color: rgba(141, 145, 255, .3);
    // border-color: $midBlue;
    border-color:  $lightBlue;
    border-style: solid;
    border-width: 2px;
}

/* On mouse-over, add a grey background color */
.container-cb:hover input ~ .checkmark {
    background-color: rgba(141, 145, 255, .6);
  }
  
/* When the checkbox is checked, add a blue background */
.container-cb input:checked ~ .checkmark {
    background: $lightBlue;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-cb input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-cb .checkmark:after {
    left: 9px;
    top: 5px;
    width: 12px;
    height: 20px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
// *** End of custom checkbox for confirm delete of listing 
  
// ------- End of form styling for artist and collector options ---------



// -------- REUSED ELEMENTS ENDS -----------------


// ------------ HOME PAGE STYLE -----------

.info-container {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 10%;
    text-align: end;
    @include flex-column;
    font-size: 20px;

}

.image-container {
    position: absolute;

    // width: 100%;
    @include flex-row;
    // flex-wrap: wrap;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
   

}

// ----------- LISTING PAGE STYLE ------------


.listing-info {
    @include flex-column;
    width: 100%;
    text-align: right;
    margin-right: 50px;
    


}

.artist-name{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
transition: all 0.5s ease;
    }

}

.listing-title {
    font-family: "GutenbergA";
}

.listing-bio {

    font-size: 0.9rem;
    
}




// ------------- ARTIST PAGE -----------

.artist-info-container {
    @include flex-column;
    text-align: right;
    padding-right: 50px;
}

// COMMENTS STYLING 

.comments-container {
    padding-top: 10px;
    display: flex;
    background-color: $white;
  
  
    // height: 55vh;
    

    @include flex-column;
    
    .fa-solid{
        font-size: 20px;
        cursor: pointer;
    }

}

.all-comments {
    position: relative;
    @include flex-column;
    width: 100%;
    height: 60%;

    margin: 20px;
    overflow-y: scroll;

}

.comment-input-container {
    position: relative;
    @include flex-column;
    width: 100%;
    height: 40%;

    margin: 20px;
    @include flex-row;
    text-align: right;

    justify-content: space-between;
    align-items: baseline;

    .submit-button {
        position: relative;
        bottom: 0;
    }

    textarea {
        width: 60%;
        height: 80%;
        border: none;
        background-color: $offWhite;
        padding: 10px;

        :focus,
        ::selection,
        :focus-visible {
            outline: none;
            border: none;
        }

    }


}

.comment {
    position: relative;
    background-color: $offWhite;

    height: 300px;
    margin-bottom: 20px;
    @include flex-row;
    text-align: right;
    padding: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.comment-content {
    width: 40vw;
    overflow-y: scroll;
}

// COMMENTS STYLING ENDS

// ENQUIRE STYLING
.enquire-container {
    @include flex-row;
    flex-wrap: wrap;
    background-color: $white;
  
   
    // height: 55vh;
    
    padding-top: 10px;

    .fa-solid{
        font-size: 20px;
        cursor: pointer;
    }
    input{
        height: 70px;
        border-bottom: 10px;
    }

}








@keyframes marquee {
    0% {
        left: 100%;
    }

    50% {
        left: -100%;
    }

    100% {
        left: -100%
    }
}

@keyframes slideUp {
    0% {
        height: 0vh;
    }

    100% {
        height: 55vh;
    }
}

@keyframes slideDown {
    0% {
        height: 55vh;
    }

    100% {
        height: 0vh;
    }
}



// ------------------ BREAK POINTS --------------------

@media screen and (min-width: 320px) {

    body {
        @include flex-column;
        overflow-y: scroll;
    }

    .sidebar {
        display: none;
    }

    .mobile-nav {
        @include flex-row;
        justify-content: space-between;
        margin-top: 20px;
        padding-right: 20px;

    }

    .content-container {
        width: 100vw;
    }

    .logo-container-desktop {
        display: none;
    }

    .image-container {
        position: relative;
        @include flex-column;


    }

    .listing-info-container {
        @include flex-column;
        align-items: center;
        justify-content: flex-end;



    }
        
    .listing-bio{
        margin-right: 0;
    }

    .listing-title {
        margin-top: 20px;
    }

    .listing-hero-image {
        position: relative;
        width: 80%;

        img {
            width: 100%;
        }

    }

    .image-overlay {
        height: 100vw;
        width: 100%;

        &:hover {
            height: 100vw;
            width: 100%;
        }
    }

    // .image-overlay-listing {
    //     height: 100%;
    //     width: 100%;

    //     &:hover {
    //         height: 100vw;
    //         width: 100%;
    //     }
    // }


    .off-canvas-left {
        left: -100vw;
        width: 100vw;
        .logo-offcanvas {
            font-size: 70px;
        }

    }



    .shopall-listing {
        position: relative;
        width: 100vw;
        @include flex-column;
        flex-wrap: wrap;
    }
    
    .shopall-listing-image {
        display: flex;
        // padding: 10px;
        width: 100vw;
    
        img {
            width: 100%;
            height: 100%;
            filter: contrast(150%) saturate(0%);
    
        }
    
        .image-overlay-listing {
            z-index: 5;
            position: absolute;
            background: rgba(36, 39, 230, 0.25);
            width: 100%;
            height: 90%;
            transition: all 0.5s ease;
    
            &:hover{
                background: rgba(36, 39, 230, 0); 
            }
        
        }
    
        &:hover{
            img {
                filter: saturate(100%);
                transition: all 0.5s ease;
            }
        }
    
    }

    .comments-container{
        width: 100vw;
        position: absolute;
        bottom: 40vh;
    }

    .enquire-container{
        position: absolute;
        width: 100vw;
        bottom: 40vh;

        input{
            height: 50px;
        }

        #enquiryFirstName {
            width: 40%;
        }
        
        #enquiryLastName {
            width: 40%;
        }
        
        #enquiryEmail {
            width: 90%;
        }
        
        #enquiryMessage {
            width: 90%;
        }
    }

    .listing-image {

      
        width: 100%;
       
        // width: 30vh;

        .image-overlay {
          
            max-width: 100%;

        }

        img{
            height: 100%;
            max-width: 100%;
        }

    }

    .listing-image:hover {
        .image-overlay {
            height: 100%;
        }
    }

    .listing-image:hover {

        .image-overlay {
            z-index: 5;
            position: absolute;
            background: rgba(36, 39, 230, 0);
            height: 100%;
            width: 30vh;
            transition: all 0.5s ease;
        }

        img {
            filter: saturate(100%);
            transition: all 0.5s ease;
        }

    }
}


@media only screen and (min-width: 768px) {
    body {
        @include flex-row;
        overflow-y: hidden;
    }

    .shopall-listing {
        position: relative;
        width: 350px;
        @include flex-column;
        flex-wrap: wrap;
    }
    
    .shopall-listing-image {
        display: flex;
        // padding: 10px;
        width: 35vw;
    
        img {
            width: 350px;
            height: 350px;
            filter: contrast(150%) saturate(0%);
    
        }
    
        .image-overlay-listing {
            z-index: 5;
            position: absolute;
            background: rgba(36, 39, 230, 0.25);
            width: 350px;
            height: 350px;
            transition: all 0.5s ease;
    
            &:hover{
                background: rgba(36, 39, 230, 0); 
            }
        
        }
    
        &:hover{
            img {
                filter: saturate(100%);
                transition: all 0.5s ease;
            }
        }

        &:hover{
            img {
                filter: saturate(100%);
                transition: all 0.5s ease;
            }
        }
    
    
    }
   
    
    

    .sidebar {
        display: flex;
        width: 25vw;
    }

    .mobile-nav {
        display: none;
    }

    .content-container {
        width: 75vw;
        overflow: scroll;
    }

    .image-container {
        position: absolute;
        overflow-y: hidden;
        overflow-x: auto;
        @include flex-row;
        // flex-wrap: wrap;
        top: 60vh;
        height: 30vh;
        width: 75vw;
    

    }

    .listing-container{
        height: 77vh;
        overflow: scroll;
    }

    .listing-info-container {
        @include flex-row;
        height: 60vh;
    }

    .listing-hero-image {

        width: 70%;

        img {
            width: 70%;
        }
    }

    .listing-image {

        height: 300px;
        width: 300px;
       
        // width: 30vh;

        .image-overlay {
            height: 29vh;
            max-width: 29vh;

        }

        img{
            height: 29vh;
            max-width: 29vh;
        }

    }

    .listing-image:hover {
        .image-overlay {
            height: 100%;
        }
    }

    .listing-image:hover {

        .image-overlay {
            z-index: 5;
            position: absolute;
            background: rgba(36, 39, 230, 0);
            height: 100%;
            width: 30vh;
            transition: all 0.5s ease;
        }

        img {
            filter: saturate(100%);
            transition: all 0.5s ease;
        }

    }

    .listing-info {
        padding-right: 100px;
    }

    .listing-bio {
        padding: 20px;
    }




    .logo-container-desktop {
        display: block;
    }

    .off-canvas-right {
        display: none;
       
    }

    .off-canvas-left {
        width: 40vw;
        left: -40vw;
        
    }

    .comments-container{
        width: 70vw;
        bottom: 40vh;
    }

    .enquire-container{
        position: fixed;
        width: 70vw;
        bottom: 40vh;

        input{
            height: 50px;
        }

        #enquiryFirstName {
            width: 45%;
        }
        
        #enquiryLastName {
            width: 45%;
        }
        
        #enquiryEmail {
            width: 100%;
        }
        
        #enquiryMessage {
            width: 500px;
        }
    }


}